In [12]:
def hide_card(card_number):
    card_number = card_number.replace(" ", "")
    hidden_part = '*' * 12
    masked_card_number = hidden_part + card_number[12:]
    return masked_card_number

print(hide_card('12313 4234 4324 4444'))

************44444

In [13]:
def same_parity(numbers):
    if not numbers:
        return []
    first_number_parity = numbers[0] % 2 
    result = [num for num in numbers if num % 2 == first_number_parity]
    return result

print(same_parity([6, 0, 67, -7, 10, -20]))
print(same_parity([-7, 0, 67, -9, 70, -29, 90]))

[6, 0, 10, -20]
[-7, 67, -9, -29]

In [14]:
b = 3
b = b * b 
b = b + b * b
print(b)

90

In [17]:
total_sum = 0

for num in range(50, 101):
    total_sum += num ** 3

print(total_sum)

24001875

In [1]:
total_sum = 0

for num in range(1000, 10000):
    # Разбиваем число на цифры и считаем их сумму
    digits_sum = sum(int(digit) for digit in str(num))
    
    if digits_sum == 20:
        total_sum += num

print(total_sum)

3489675

In [1]:
account = {
  "id": 3136,
  "uid": "1359acc6-f07a-4a2a-984e-3fb809982948",
  "account_number": "0847799459",
  "iban": "GB90XTND56373623909314",
  "bank_name": "ABN AMRO HOARE GOVETT CORPORATE FINANCE LTD.",
  "routing_number": "126602476",
  "swift_bic": "BCYPGB2LHGB"
}
keys = list(account)
print(keys)

['id', 'uid', 'account_number', 'iban', 'bank_name', 'routing_number', 'swift_bic']

In [4]:
supermarket = {
    "milk": {"quantity": 20, "price": 1.19},
    "biscuits": {"quantity": 32, "price": 1.45},
    "butter": {"quantity": 20, "price": 2.29},
    "cheese": {"quantity": 15, "price": 1.90},
    "bread": {"quantity": 15, "price": 2.59},
    "cookies": {"quantity": 20, "price": 4.99},
    "yogurt": {"quantity": 18, "price": 3.65},
    "apples": {"quantity": 35, "price": 3.15},
    "oranges": {"quantity": 40, "price": 0.99},
    "bananas": {"quantity": 23, "price": 1.29}
}
total_price = sum(item["price"] * item["quantity"] for item in supermarket.values())
print(total_price)

528.37

In [7]:
people = [
    ['Amy Smith', '694.322.8133x22426'],
    ['Brian Shaw', '593.662.5217x338'],
    ['Christian Sharp', '118.197.8810'],
    ['Sean Schmidt', '9722527521'],
    ['Thomas Long', '163.814.9938'],
    ['Joshua Willis', '+1-978-530-6971x601'],
    ['Ann Hoffman', '434.104.4302'],
    ['John Leonard', '(956)182-8435'],
    ['Daniel Ross', '870-365-8303x416'],
    ['Jacqueline Moon', '+1-757-865-4488x652'],
    ['Gregory Baker', '705-576-1122'],
    ['Michael Spencer', '(922)816-0599x7007'],
    ['Austin Vazquez', '399-813-8599'],
    ['Chad Delgado', '979.908.8506x886'],
    ['Jonathan Gilbert', '9577853541']
]
phone_book = {i[1]:i[0] for i in people}
print(phone_book)

{'694.322.8133x22426': 'Amy Smith', '593.662.5217x338': 'Brian Shaw', '118.197.8810': 'Christian Sharp', '9722527521': 'Sean Schmidt', '163.814.9938': 'Thomas Long', '+1-978-530-6971x601': 'Joshua Willis', '434.104.4302': 'Ann Hoffman', '(956)182-8435': 'John Leonard', '870-365-8303x416': 'Daniel Ross', '+1-757-865-4488x652': 'Jacqueline Moon', '705-576-1122': 'Gregory Baker', '(922)816-0599x7007': 'Michael Spencer', '399-813-8599': 'Austin Vazquez', '979.908.8506x886': 'Chad Delgado', '9577853541': 'Jonathan Gilbert'}

In [2]:
my_frozen = frozenset(['7' * i for i in range(1, 8)])
print(my_frozen)

frozenset({'7777777', '777777', '777', '77', '7777', '77777', '7'})